@model IEnumerable<ModuloFacturacion_WEB.Models.FactInvoiceHead>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .contenedor {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        .pie_pagina {
            position: fixed;
            width: 100%;
            text-align: center;
            bottom: 0;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        #a {
            font - family: Arial, Helvetica, sans - serif;
            background - image: url('./img/anula.png');
            background - repeat: no - repeat;
            background - position: center bottom;
            background - size: 200px 200px;
            z - index: 1;
        }



        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #03A99F;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #BAD7E9;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
            }

        table.tbIn {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbIn thead tr th {
                background-color: #2B3467;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbIn tbody tr td {
                padding: 10px;
            }
        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            background-color: #C0C0C0;
            color: black;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }

    </style>
</head>
<body>
    <p><b>Fecha de emisión: </b>@DateTime.Today.ToShortDateString()</p>
    <div class="contenedor">
            <p style="text-align:center; color:#678983; font-size:x-large" class="title2">Datos del Cliente</p>
            <br />
            <table class="table table-borderless" style="width:100%">
                <tr>
                    <td><p class="title">NOMBRE</p></td>
                    <td><p class="text">@Model.First().CliIdentificationNavigation.CliName</p></td>
                    <td><p class="title">CÉDULA</p></td>
                    <td><p class="text">@Model.First().CliIdentificationNavigation.CliIdentification</p></td>
                    <td><p class="title">CELULAR</p></td>
                    <td><p class="text">@Model.First().CliIdentificationNavigation.CliPhone</p></td>
                </tr>
                <tr>
                    <td><p class="title">CORREO</p></td>
                    <td><p class="text">@Model.First().CliIdentificationNavigation.CliMail</p></td>
                    <td><p class="title">DIRECCIÓN</p></td>
                    <td><p class="text">@Model.First().CliIdentificationNavigation.CliAddres</p></td>
                </tr>

            </table>


            <br/>
        <p style="text-align:left; color:#678983;font-size:x-large" class="title2">Historial de facturas</p>
<br />
@foreach (var item in Model)
    {

              

            <table class="tbIn" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th class="tbth">ID</th>
                       
                        <th class="tbth">Fecha</th>
                    <th class="tbth">Tipo de Pago</th>
                    <th class="tbth">Estado</th>      
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                            @item.InvoiceNumber
                    </td>
                    <td>
                        @(((DateTime)(item.InvoiceDate)).ToShortDateString())
                    </td>
                    <td>
                        @if(item.TypId == 1){
                            <p>Efectivo</p>
                        }
                        else
                        {
                            <p>Credito</p>                                                     
                        }
                    </td>
                    <td>
                        @if ((bool)item.InvoiceStatus)
                        {
                                <p style="color:green">Activo</p>
                        }
                        else
                        {
                                <p style="color:red">Anulada</p>
                        }

                    </td>
                </tr>
            </tbody>
        </table>
            <table class="tbproductos" style="width:100%">
                <thead>
                    <tr>
                        <th class="tbth">ID</th>
                        <th class="tbth">Nombre</th>
                        <th class="tbth">Cantidad</th>
                        <th class="tbth">Subtotal</th>

                    </tr>
                </thead>
            <tbody>

        @foreach (var detalle in item.FactInvoiceDetails)
        {
            
                    <tr>
                        <td>
                            @detalle.ProductId
                        </td>
                        <td>
                            @detalle.InvoiceProductName
                        </td>
                        <td>
                            @detalle.InvoiceDetailAmount
                        </td>
                        <td>
                            @detalle.InvoiceDetailSubtotal
                        </td>
                    </tr>
                    
        }
                <tr>
                    <td></td>
                    <td></td>
                    <td class="td-item">
                        <p class="item-2">Sub Total</p>
                    </td>
                    <td class="item-3">
                        <p>@item.InvoiceSubtotal</p>
                    </td>
                </tr>
                <tr>
                    @*<td colspan="2"></td>*@
                    <td></td>
                    <td></td>
                    <td class="item-3">
                        <p>IVA</p>
                    </td>
                    <td class="item-3">
                        <p>@item.InvoiceIva</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    @*<td colspan="2"></td>*@
                    <td class="item-3">
                        <p>Total</p>
                    </td>
                    <td class="item-3">
                        <p>@item.InvoiceTotal</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr style="width:25px;"/>
    }
    
    </div>
</body>
</html>
