@model ModuloFacturacion_WEB.Models.FactInvoiceHead

@using (Html.BeginForm("Create","Invoice",FormMethod.Post))
{
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
        @*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="card">
            <div class="card-header">
                <h2>
                    FACTURACIÓN
                </h2>
                @ViewBag.ErrorMessage
            </div>
            @*        <form method="post" asp-controller="Invoice" asp-action="PDFFact">
        <button type="submit" class="btn btn-danger" value="Generate PDF">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
        <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
        </svg> Generar PDF
        </button>
        </form>*@

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card-body">
                    <div class="row align-items-end">
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <input asp-for="InvoiceHeadId" type="hidden" class="form-control" value="0" />
                                <span asp-validation-for="InvoiceHeadId" class="text-danger"></span>

                                <label asp-for="InvoiceDate" class="control-label">Fecha</label>
                                <input disabled id="fecha" class="form-control">
                                <span asp-validation-for="InvoiceDate" class="text-danger"></span>

                                @ViewBag.Error
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row align-items-end">
                            <div class="col-sm-4" id="divSeleccionarCliente">
                                <div class="mb-2">
                                    <label class="control-label">Seleccione el Cliente</label>
                                    <div class="search_select_box">

                                        <input type="hidden" id="mostrarDatosCliente" name="mostrarDatosCliente" />
                                        <input type="hidden" id="cedulaClienteElegido" name="cedulaClienteElegido" />
                                        
                                        <select class="selectpicker" data-style="btn-outline-info"
                                            aria-label="Default select example" name="selectClient" id="cliente"
                                            onChange="onClienteElegido()" data-live-search="true">
                                            <option selected="true" disabled="enabled">Seleccione el cliente</option>
                                            @foreach (var item in ViewBag.ListaClientes)
                                            {
                                                <option class="clientes" id="clienteElegido" value="@(((FactClient)item).CliIdentification)">@(((FactClient)item).CliIdentification) - @(((FactClient)item).CliName)</option>
                                            }
                                        </select>
                                        <span asp-validation-for="CliIdentification" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="divSeleccionarTipoPago" hidden="hidden">
                                <div class="mb-2">
                                    <label class="control-label">Seleccione el tipo de pago</label>
                                    <select asp-for="TypId" class="selectpicker" data-style="btn-outline-info" aria-label="Default select example">
                                        @if ((((FactClient)ViewBag.ClienteElegido)) != null){
                                            if ((((FactClient)ViewBag.ClienteElegido).TypId)==1){
                                                <option value="1">Efectivo</option>
                                            }
                                            else if ((((FactClient)ViewBag.ClienteElegido).TypId) == 2)
                                            {
                                                <option value="1">Efectivo</option>
                                                <option value="2">Crédito</option>
                                            }
                                        }               
                                        @*@foreach (var item in ViewBag.ListaTipoPago)
                                        {
                                            <option value="@(((FactPayType)item).TypId)" class="pagos">@(((FactPayType)item).TypId). @(((FactPayType)item).Typ)</option>
                                        }*@
                                    </select>
                                    <span asp-validation-for="TypId" class="text-danger"></span>
                                    <button class="btn-outline-warning" asp-action="Create" asp-controller="Invoice">Elegir otro cliente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <h6>
                        DATOS CLIENTE
                    </h6>

                    <div class="row align-items-end">
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Cédula</label>
                                @if (ViewBag.ClienteElegido != null)
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtcedula" name="txtcedula" readonly value="@(((FactClient)ViewBag.ClienteElegido).CliIdentification)" />

                                }
                                else
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtcedula" name="txtcedula" readonly value="Cliente no seleccionado" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Tipo Cliente</label>
                                @if (ViewBag.ClienteElegido != null)
                                {
                                    if ((((FactClient)ViewBag.ClienteElegido).TypId)==1){
                                        <input class="form-control form-control-sm"
                                        id="txttipo" name="txttipo" readonly value="Efectivo" />
                                    }
                                    else if ((((FactClient)ViewBag.ClienteElegido).TypId) == 2)
                                    {
                                        <input class="form-control form-control-sm"
                                        id="txttipo" name="txttipo" readonly value="Crédito" />
                                    }
                                    

                                }
                                else
                                {
                                    <input class="form-control form-control-sm"
                                   id="txttipo" name="txttipo" readonly value="Cliente no seleccionado" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                @if (ViewBag.ClienteElegido != null)
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtnombre" name="txtnombre" readonly value="@(((FactClient)ViewBag.ClienteElegido).CliName)" />
                                }
                                else
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtnombre" name="txtnombre" readonly value="Cliente no seleccionado" />
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-end">
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Dirección</label>
                                @if (ViewBag.ClienteElegido != null)
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtdireccion" name="txtdireccion" readonly value="@(((FactClient)ViewBag.ClienteElegido).CliAddres)" />
                                }
                                else
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtdireccion" name="txtdireccion" readonly value="Cliente no seleccionado" />
                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">Correo</label>
                                @if (ViewBag.ClienteElegido != null)
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtcorreo" name="txtcorreo" readonly value="@(((FactClient)ViewBag.ClienteElegido).CliMail)" />
                                }
                                else
                                {
                                    <input class="form-control form-control-sm"
                                   id="txtcorreo" name="txtcorreo" readonly value="Cliente no seleccionado" />
                                }
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h6>
                        DETALLE DE VENTA
                    </h6>
                    <div id="divDetalleVenta" hidden="hidden">
                        <div class="row align-items-end">
                            <div class="col-sm-3">
                                <div class="mb-2">
                                    <div class="search_select_box">

                                        <input type="hidden" id="mostrarDatosProducto" name="mostrarDatosProducto" />
                                        <input type="hidden" id="idProductoElegido" name="idProductoElegido" />
                                        <input type="hidden" id="textProducto" name="textProducto" value="@ViewBag.textProducto" />
                                        <input type="hidden" id="ivaProd" name="ivaProd" value="@ViewBag.IVA" />

                                        <select class="selectpicker" data-style="btn-outline-info"
                                            aria-label="Default select example" name="selectProduct" id="producto"
                                            onChange="datosProducto()" data-live-search="true">
                                            <option class="productos" selected="true" disabled="enabled">Seleccione un producto</option>
                                            @foreach (var item in ViewBag.ListaProductos)
                                            {
                                                <option class="productos" id="productoElegido" value="@(((Product)item).prod_id)">
                                                    @(((Product)item).prod_id) , @(((Product)item).prod_nombre) , @(((Product)item).prod_descripcion) , @(((Product)item).prod_pvp) , @(((Product)item).prod_stock) , @(((Product)item).prod_iva)
                                                </option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Producto</label>
                                    @if (ViewBag.ProductoElegido != null)
                                    {
                                        <input class="form-control form-control-sm"
                                       id="txtproducto" name="txtproducto" readonly
                                       value="@(((Product)ViewBag.ProductoElegido).prod_id). @(((Product)ViewBag.ProductoElegido).prod_nombre)" />
                                        <input type="hidden" value="@(((Product)ViewBag.ProductoElegido).prod_id)" id="Producto" />

                                    }
                                    else
                                    {
                                        <input class="form-control form-control-sm"
                                       id="txtproducto" name="txtproducto" readonly value="Producto no seleccionado" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Precio</label>
                                    @if (ViewBag.ProductoElegido != null)
                                    {
                                        <input class="form-control form-control-sm"
                                       id="txtprecio" name="txtprecio" style="width:80px" readonly value="@(((Product)ViewBag.ProductoElegido).prod_pvp)" />

                                    }
                                    else
                                    {
                                        <input class="form-control form-control-sm"
                                       id="txtprecio" name="txtprecio" style="width:80px" readonly value="--" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">IVA</label>
                                    <input type="hidden" class="form-control form-control-sm" style="width:80px" id="txtstock" name="txtstock">
                                    <input type="text" class="form-control form-control-sm" style="width:80px" id="txtiva" name="txtiva" readonly value="--">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="mb-2">
                                    <label for="exampleInputEmail1" class="form-label">Cantidad</label>
                                    <input type="number" class="form-control form-control-sm" style="width:80px" id="txtcantidad" name="txtcantidad">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <input type="button" class="btn btn-success mb-2 btn-sm" id="btnAgregar" value="Agregar" onclick="AgregarConcepto(); return false;" />
                                <button type="button" value="Create" class="btn btn-info mb-2 btn-sm" id="btnTerminar" onclick="terminar(); return false;">Terminar</button>
                                <input type="hidden" id="terminarfactura" name="terminarfactura" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div id="divConceptos">
                                    <table class="table table-bordered table-sm" style="width:100%">
                                        <thead class="table-dark">
                                            <colgroup>
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                 
                                            </colgroup>
                                            <tr class="table-primary">
                                                <th scope="col">Producto</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">IVA</th>
                                                <th scope="col">Subtotal</th>
                                                <th scope="col">Opción</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-bordered table-sm" id="tbProducto" style="width:100%">
                                        <thead class="table-dark">
                                            <colgroup>
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">
                                                <col width="18%">

                                            </colgroup>

                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-2">
                                <label>SUBTOTAL</label>
                                <input class="form-control" id="tdsubtotal" name="tdsubtotal" value="0" readonly />

                                <label>IVA</label>
                                <input class="form-control" id="tdiva" name="tdiva" value="0" readonly />

                                <label>TOTAL</label>
                                <input class="form-control" id="tdtotal" name="tdtotal" value="0" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>




        <br />
        <br />
        <br />

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <script src="js/script.js"></script>
    </body>



@*    <div class="row">
        <div class="form-group">
            @Html.LabelFor(d => d.CliIdentification)
            @Html.TextBoxFor(d => d.CliIdentification)
        </div>
    </div>*@

@*    <div class="row">
        <div class="form-group">
            Cantidad
            <input type="number" id="Cantidad"/>
            Producto
            <input type="number" id="Producto" />
            Subtotal
            <input type="number" id="Subtotal" />
            <input value="Agregar" type="button" onclick="AgregarConcepto(); return false;"/>
        </div>
        <div id="divConceptos">
            <table id="tablaConceptos" style="width:100%">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Subtotal</th>
                </tr>
            </table>
        </div>

        <div class="form-group">
            @ViewBag.Error
            <input type="submit"/>
        </div>
    </div>*@
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>

        function onClienteElegido() {
            mostrarDatosCliente.value = "SI";

            var clienteElegido = document.getElementById("clienteElegido");
            var select = document.getElementById("cliente");
            var options = document.getElementsByClassName("clientes");
            var resp = options[select.selectedIndex - 1];

            cedulaClienteElegido.value = resp.value;

            document.forms[0].submit();
        }
    </script>

    <script>
        function documentoCargado(){
            if (@ViewBag.BanderaDetalleVenta == true){
                let element = document.getElementById("divDetalleVenta");        
                let hidden = element.getAttribute("hidden");
                element.removeAttribute("hidden");

                let element2 = document.getElementById("divSeleccionarCliente");
                let hidden2 = element2.getAttribute("hidden");
                element2.setAttribute("hidden", "hidden");

                let element3 = document.getElementById("divSeleccionarTipoPago");
                let hidden3 = element3.getAttribute("hidden");
                element3.removeAttribute("hidden");

            }                
        }
        document.addEventListener("DOMContentLoaded", documentoCargado, false);
    </script>


    <script>
        function terminar(){

            if ((document.getElementById("tdtotal").value == "") || (document.getElementById("tdtotal").value == 0)) {
                alert("Debe asignar al menos un producto a la compra")
                return;
            }

            var tabla = document.getElementById("tbProducto");

            for (var i = 0; i < tabla.rows.length; i++) {
                    let DivConceptos = document.getElementById("divConceptos");

                    let HiddenIndex = document.createElement("input");
                    let HiddenProducto = document.createElement("input");
                    let HiddenProductoNombre = document.createElement("input");
                    let HiddenPrecio = document.createElement("input");
                    let HiddenCantidad = document.createElement("input");
                    let HiddenIva = document.createElement("input");
                    let HiddenSubtotal = document.createElement("input");

                    HiddenIndex.name = "conceptos.Index";
                    HiddenIndex.value = i;
                    HiddenIndex.type = "hidden";

                    for (var j = 0; j < tabla.rows[i].cells.length; j++) {
                        if (j == 0) {
                            HiddenProducto.name = "FactInvoiceDetails[" + i + "].ProductId";
                            HiddenProducto.value = tabla.rows[i].cells[j].innerHTML;
                            HiddenProducto.type = "hidden";
                        }
                         if (j == 1) {
                            HiddenProductoNombre.name = "FactInvoiceDetails[" + i + "].InvoiceProductName";
                            HiddenProductoNombre.value = tabla.rows[i].cells[j].innerHTML;
                            HiddenProductoNombre.type = "hidden";
                         }
                        if (j == 3) {
                            HiddenCantidad.name = "FactInvoiceDetails[" + i + "].InvoiceDetailAmount";
                            HiddenCantidad.value = tabla.rows[i].cells[j].innerHTML;
                            HiddenCantidad.type = "hidden";
                        }
                        if (j == 5) {
                            HiddenSubtotal.name = "FactInvoiceDetails[" + i + "].InvoiceDetailSubtotal";
                            HiddenSubtotal.value = ((tabla.rows[i].cells[j].innerHTML).toString()).replace(".", ",");
                            HiddenSubtotal.type = "hidden";
                        }
                    }

                    DivConceptos.appendChild(HiddenIndex);
                    DivConceptos.appendChild(HiddenCantidad);
                    DivConceptos.appendChild(HiddenProducto);
                    DivConceptos.appendChild(HiddenSubtotal);
                    DivConceptos.appendChild(HiddenProductoNombre);
            }
            terminarfactura.value = "SI";
            document.forms[0].submit();
        }

    </script>

    <script>
        function onProductoElegido() {
            mostrarDatosProducto.value = "SI";
            mostrarDatosCliente.value = "NO";

            var productoElegido = document.getElementById("productoElegido");
            var select = document.getElementById("producto");
            var options = document.getElementsByClassName("productos");
            var resp = options[select.selectedIndex - 1];

            idProductoElegido.value = resp.value
            textProducto.value = resp.text;
            document.forms[0].submit()
        }

    </script>


    <script>

        function getClient() {
            var lista = @((List<FactClient>)ViewBag.ListaClientes)
                                    var select = document.getElementById("cliente");
            (document.getElementById("txtcedula")).value = lista.valueOf()

        }
    </script>

    <script>
        $(document).ready(function () {
            var f = new Date();
            var text = f.getDate() + "/" + f.getMonth() + 1 + "/" + f.getFullYear();
            document.getElementById("fecha").value = text;
        });
    </script>
    <script>
        //function productoSeleccionado() {
        //    var select = document.getElementById("producto");
        //    var options = document.getElementsByClassName("optionP");
        //    var resp = options[select.selectedIndex];
        //    console.log(resp.value)
        //    return resp.value;
        //}
    </script>


    <script>


        function clienteSeleccionado() {
            var select = document.getElementById("cliente");
            var options = document.getElementsByClassName("clientes");
            var resp = options[select.selectedIndex];

            (document.getElementById("txtcedula")).value = ((resp.text).split(" -"))[0];
            (document.getElementById("txtnombre")).value = ((resp.text).split(" -"))[1];
            return ((resp.text).split(" -"))[0];
        }

        function datosProducto() {
            var select = document.getElementById("producto");
            var options = document.getElementsByClassName("productos");
            var resp = options[select.selectedIndex];

            (document.getElementById("txtproducto")).value = ((resp.text).split(" , "))[1];
            (document.getElementById("txtprecio")).value = ((resp.text).split(" , "))[3];
            (document.getElementById("txtstock")).value = ((resp.text).split(" , "))[4];

            if (((resp.text).split(" , "))[5] == "True"){
                (document.getElementById("txtiva")).value = "SI"
            }else{
                (document.getElementById("txtiva")).value = "NO"
            }
            
            return ((resp.text).split(" ,"))[0];
        }
        function nombreProducto() {
            var select = document.getElementById("producto");
            var options = document.getElementsByClassName("productos");
            var resp = options[select.selectedIndex];

            return ((resp.text).split(" ,"))[1];
        }
    </script>
    <script>
        $('select').selectpicker();
        $(function () {
            $('.search_select_box select').selectpicker();
        });

    </script>


    <script>

    </script>

    <script>
        var num = 0;
        var subtotalFinal = 0;
        var ivaTotal = 0;


        $(document).on('click', '.borrar', function (event) {
            event.preventDefault();
            $(this).closest('tr').remove();

            var tabla = document.getElementById("tbProducto");
            var subtotal = 0;
            var subtotalTotal = 0;
            var ivaTemp = 0;
            var iva = 0;
            var total = 0;

            if (tabla.rows.length == 0){
                (document.getElementById("tdsubtotal")).value = 0;
                (document.getElementById("tdiva")).value = 0;
                (document.getElementById("tdtotal")).value = 0;
                return;
            }

            for (var i = 0; i < tabla.rows.length; i++) {
                for (var j = 0; j < tabla.rows[i].cells.length; j++) {
                    if (j == 2) {
                        var precio = tabla.rows[i].cells[j].innerHTML;
                    }
                    if (j == 3) {
                        var cantidad = tabla.rows[i].cells[j].innerHTML;
                    }
                    if (j == 4) {
                        if (tabla.rows[i].cells[j].innerHTML == "SI") {
                            subtotal = parseFloat(precio) * parseFloat(cantidad);
                            ivaTemp = subtotal * 0.12;
                        }else{
                            subtotal = parseFloat(precio) * parseFloat(cantidad);
                            ivaTemp = 0;
                        }
                    }
                }
                subtotalTotal = subtotal + subtotalTotal;
                iva = iva + ivaTemp;
            }

            (document.getElementById("tdsubtotal")).value = (subtotalTotal.toString()).replace(".", ",");
            (document.getElementById("tdiva")).value = (iva.toString()).replace(".", ",");
            (document.getElementById("tdtotal")).value = ((subtotalTotal + iva).toString()).replace(".", ",");         
        });

        function AgregarConcepto() {
            if (document.getElementById("txtproducto").value == "Producto no seleccionado"){
                alert("Producto no seleccionado")
                return;
            }
            if (document.getElementById("txtcantidad").value == "") {
                alert("Cantidad no establecida")
                return;
            } else if (document.getElementById("txtcantidad").value <= 0) {
                alert("Cantidad inválida")
                return;
            }

            var stockDis = parseInt((document.getElementById("txtstock")).value)
            let Cantidad = document.getElementById("txtcantidad").value;
            if(stockDis<parseInt(Cantidad)){
                alert("Stock insuficiente")
                return;
            }

            let Tabla = document.getElementById("tbProducto");
            let Producto = datosProducto();

            var vali = true
            var posicionFila
            for (var i = 0, row; row = Tabla.rows[i]; i++) {
                var dato = (row.cells[0].innerHTML);
                if (dato == Producto) {
                    vali = false
                    posicionFila = i
                   
                    break;
                }
            }

            var precio = $("#txtprecio").val().replace(/,/g, '.');
            var subtotal = parseFloat(precio) * parseFloat(Cantidad);

            subtotalFinal = subtotal + parseFloat(((document.getElementById("tdsubtotal")).value).replace(",", "."));

            var ivaText = (document.getElementById("txtiva")).value;
            var iva = 1.12;

            if (ivaText == "SI") {

                var subtotalIVA = parseFloat(precio) * parseFloat(Cantidad) * iva;
                iva = parseFloat(precio) * parseFloat(Cantidad) * 0.12;
                ivaTotal = iva + parseFloat(((document.getElementById("tdiva")).value).replace(",", "."));
            } else {
                var subtotalIVA = parseFloat(precio) * parseFloat(Cantidad);
                iva = 0;
                ivaTotal = iva + parseFloat(((document.getElementById("tdiva")).value).replace(",", "."));
            }

            if (!vali) {
              
                var cantAux = parseInt(Cantidad) + parseInt(Tabla.rows[posicionFila].cells[3].innerHTML);
                if(cantAux>stockDis){
                    alert("Stock insuficiente")
                    return;
                }
                Tabla.rows[posicionFila].cells[3].innerHTML = cantAux;
                Tabla.rows[posicionFila].cells[5].innerHTML = (parseFloat(subtotalIVA) + parseFloat(Tabla.rows[posicionFila].cells[5].innerHTML)).toFixed(2);


                sd();
                limpiarCam()
                return;
            }

            //agregar tabla


            let TR = document.createElement("tr");

            let TDCantidad = document.createElement("td");
            let TDProducto = document.createElement("td");
            let TDProductoNombre = document.createElement("td");
            let TDSubtotal = document.createElement("td");
            let TDIva = document.createElement("td");
            let TDPrecio = document.createElement("td");
            let TDOpcion = document.createElement("input");

            TDOpcion.type = "button";
            TDOpcion.className = "borrar btn-danger";
            TDOpcion.value = "Eliminar";

            TR.appendChild(TDProducto);
            TR.appendChild(TDProductoNombre);
            TR.appendChild(TDPrecio)
            TR.appendChild(TDCantidad);
            TR.appendChild(TDIva);
            TR.appendChild(TDSubtotal);
            TR.appendChild(TDOpcion);

            TDProducto.innerHTML = Producto;
            TDProductoNombre.innerHTML = nombreProducto();
            TDPrecio.innerHTML = precio;
            TDCantidad.innerHTML = Cantidad;
            TDIva.innerHTML = ivaText;
            TDSubtotal.innerHTML = subtotalIVA.toFixed(2);

            Tabla.appendChild(TR);
            num++;
            limpiarCam()
            sd();

            function sd() {
                total = subtotalFinal + ivaTotal;
                (document.getElementById("tdsubtotal")).value = (subtotalFinal.toString()).replace(".", ",");
                (document.getElementById("tdiva")).value = (ivaTotal.toString()).replace(".", ",");
                (document.getElementById("tdtotal")).value = (total.toString()).replace(".", ",");
            }
            function limpiarCam() {
                document.getElementById("txtcantidad").value = "";
                document.getElementById("txtproducto").value = "Producto no seleccionado";
                document.getElementById("txtprecio").value = "--";
                document.getElementById("txtiva").value = "--";
            }


        }
    </script>
}



